<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Not An MMO</title>
	
	<script src="/socket.io/socket.io.js"></script>
	
	<!-- Import Jquery, React, Bootstrap... ? -->
	<link rel="stylesheet" type="text/css" href="/assets/mainStyle.css" />
</head>
<body>
	<h1>Not An MMO!</h1>
    <div id="roomContainer">
        <form id="createRoomForm">
            <label for="createRoom">Create a Room</label>
            <input id="createRoomField" type="text" name="createRoom" maxlength="4" size="4">
            <input type="submit" value="Create Room">
        </form>
        <form id="joinRoomForm">
            <label for="joinRoom">Join a Room</label>
            <input id="joinRoomField" type="text" name="joinRoom" maxlength="4" size ="4">
            <input type="submit" value="Join Room">
        </form>
    </div>
	<hr  />
	<img id="defaultChar" class="hidden" src="/assets/img/char/default-char.png" alt="Default Character" />
	<img id="dragonBoss" class="hidden" src="/assets/img/boss/dragon.png" alt="Dragon Sprite" />
	<canvas id="viewport" width="600" height="600"></canvas>
	<script src="/assets/bundle.js"></script>
</body>
</html>