<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Not An MMO</title>
	
	<script src="/socket.io/socket.io.js"></script>
	
  <!-- React and Proptypes -->
  <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  
	<!-- Import Jquery, React, Bootstrap... ? -->
	<link rel="stylesheet" type="text/css" href="/assets/mainStyle.css" />
</head>
<body>
	<h1>Not An MMO!</h1>
	<hr  />
  <img id="healthContainer" class="hidden" src="/assets/img/misc/health-container.png" alt="Health Container" />
  <img id="healthBar" class="hidden" src="/assets/img/misc/health-bar.png" alt="Health Bar" />
	<img id="dragonBoss" class="hidden" src="/assets/img/boss/dragon.png" alt="Dragon Sprite" />
  <div id="main">
  </div>
  <div id="gameInfo">
  </div>
	<script src="/assets/bundle.js"></script>
</body>
</html>