@font-face {
    font-family: 'maras_eyeregular';
    src: url('/assets/fonts/maraeye-webfont.woff2') format('woff2'),
         url('/assets/fonts/maraeye-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
	display: block;
	text-align: center;
  padding: 10px 0px;
  font-size: 48px;
}

.hidden {
	display: none;
}

#main {
  display: block;
  text-align: center;
}

#viewport-parent {
  overflow: auto;
}

#viewport {
	border: 2px solid black;
	text-align: center;
}

#videoFrame {
  display: inline-block;
  max-width: 80%;
}

.no-top-margin {
  margin-top: 0px;
}

.charPreview {
  display: inline-block;
  width: 15%;
  margin: 50px 2.5%;
  padding: 0px;
}

#charSelectHeader {
  margin-top: 16px;
  font-size: 32pt;
}

#createRoomForm {
  width: 60%;
  margin: auto;
  text-align: center;
  align-content: center;
}

#createRoomForm p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#joinRoomForm {
  width: 60%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  align-content: center;
}

#createLabel, #joinLabel {
  font-size: 31px !important;
  margin-right: 10px;
}

#queueNumber {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.roomBox {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
  width: 95%;
}

#error {
  text-align: center;
}

#gameInfo span {
  font-size: 16pt;
}

#gameInfo h2 {
  font-size: 24pt;
}

#levelUpBar {
  margin-top: 10px;
}

#respawnButton {
  width: 75%;
  margin-top: 5px;
}

#roomList {
  margin: auto;
  text-align: center;
}

form input[type=submit] {
  margin-left: 10px !important;
}

#roomContainer {
  margin: auto;
  text-align: center;
}

.charButton {
  width: 75%;
}

.charPreview h2 {
  font-size: 32pt;
}

.charPreview p {
  font-size: 16pt;
}

.crop-image {
  margin: auto;
  width: 192px;
  height: 192px;
  overflow: hidden;
}

.crop-image img {
  margin-top: -1728px; 
}