@font-face {
    font-family: 'maras_eyeregular';
    src: url('/assets/fonts/maraeye-webfont.woff2') format('woff2'),
         url('/assets/fonts/maraeye-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
	display: block;
	text-align: center;
}

.hidden {
	display: none;
}

#main {
  display: block;
  text-align: center;
}

#viewport {
	border: 2px solid black;
	display: inline-block;
	margin: auto;
	text-align: center;
  float: right;
  margin-right: 20px;
}

#videoFrame {
  display: inline-block;
  float: right;
}

#gameInfo {
  float: left;
  width: 20%;
}

.charPreview {
  border: 2px solid black;
  display: inline-block;
  width: 15%;
  margin: 50px 2.5%;
  padding: 20px 0;
}

.crop-image {
  margin: auto;
  width: 192px;
  height: 192px;
  overflow: hidden;
}

.crop-image img {
  margin-top: -1728px; 
}